*{
margin: 0;
padding: 0;
font-family: sans-serif;
box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-image: url("../image/sky.jpg");
    background-size: cover;
}
form{
    margin-top: 100px;
    text-align: center;
}

input{
    display: block;
    width: 350px;
    height: 40px;
    margin: 20px;
    border: none;
    outline: none;
    font-size: 25px;
    color: white;
    border-bottom: 1px solid white;
    background: transparent;
}

button{
    width: 160px;
    height: 40px;
    font-size: 25px;
    color: white;
    margin-top: 20px;
}


form h1{
    margin-bottom: 30px;
    font-size: 35px;
    font-family: sans-serif;
    color: white;
}

::placeholder{
    color: white;
}